# Flutter/Dart specific files
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
/build/
/captures/
/flutter/ephemeral/
/flutter/flutter_assets/
/test/
/web/favicon.png
/web/index.html
/web/main.dart.js
/web/main.dart.js.map
.metadata
analysis_options.yaml

# Android specific files
**/android/gradle.properties
**/android/local.properties
**/android/app/*.iml
**/android/app/google-services.json
**/android/app/app.iml
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/gradle/
**/android/gradle-wrapper.jar
**/android/.gradle/
**/android/.idea/
**/android/**/generated/
**/android/**/outputs/
**/android/**/build/

# iOS specific files
**/ios/Flutter/App.framework/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.generated.xcconfig
**/ios/Runner.xcworkspace/
**/ios/Runner/GeneratedPluginRegistrant.*

# Miscellaneous
.vscode/
.idea/
.DS_Store
*.iml
*.lock
*.log
*.gz
*.zip
*.tar.gz
*.tgz
*.rar
*.apk
*.xcodeproj
*.xcworkspace
*.sxcuserstate
*.xccheckout
*.hmap
*.xcuserstate
*.xcworkspace/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.tmproj
*.swp
*.tmp
*.bak
*.orig
*.pyc
*~
*#
._*
.idea/
